/* Mobile menu */

.hamburger div {
  transition: 0.5s;
}

.hamburger:hover div {
  width: 100%;
  transition: all 0.3s;
}

.line-1 {
  width: 40%;
}

.line-2 {
  width: 80%;
}

.line-3 {
  width: 50%;
}

/* Desktop menu */

.desktopMenu {
  background-color: rgba(255, 255, 255, 0.1);
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

*:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #022144;
}